
.tile {
    margin-top: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1) !important; 
    align-self : stretch;
    width: 100%;
}

.tile .tileHeader {
    display: grid;
    font-weight: bold;
}

.tile .tileHeader > * {
    grid-column-start: 1;
    grid-row-start: 1;
    justify-self:center;
  }

.tile .pt {
    justify-self: right;
}

.tile .type {
    justify-self: left;
}


.tile .body {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
